@keyframes openUp {
    0%{
        height: 50vh;
    }
    100%{
        height: 10vh;
    }
}


@keyframes openDown {
    0%{
        height: 50vh;
    }
    100%{
        height: 0vh;
    }
}

@keyframes moveFromLeft {
    0%{
        opacity: 0;
    }
    100%{
       opacity: 1;
    }
}

*{
    margin:0;
}

.container{
    position: relative;
    width:100vw;
    height: 100vh;
}

.upperscreen{
    animation-name: openUp;
    animation-duration: 3s;
    animation-fill-mode: both;
    position: absolute;
    top: 0;
    height:50vh;
    width: 100vw;
    background-color: darkgreen;
    z-index: 100;
}

.lowerscreen{
    animation-name: openDown;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    position: absolute;
    bottom: 0;
    height:50vh;
    width: 100vw;
    background-color: rgb(8, 37, 80);
    z-index: 100;
}


.navigation{
    position: absolute;
    top:0;
    height: 10vh;
    width: 100vw;
    z-index: 99;
    background-color: darkgreen;
}

.navigation ul{
    list-style: none;
}

.navigation ul li{
    transition: all 3s;
    animation-name: moveFromLeft;
    animation-duration: 5s;
    animation-fill-mode: both;
    float: right;
    width:fit-content;
    text-align: center;
    font-size: large;
    font-weight: 800;
    margin-left: 1vw;
    margin-right: 1vw;
    margin-top: 2.5vh;
    padding: 0.5vw;
    border-radius: 3px;
    background-color: white;
    color: rgb(10, 115, 62); 
}

.navigation ul li a{
    text-decoration: none;
    color: green;
}


#mobile-nav{
    display: none;
}
.navigation-mobile{
    display: none;
}

.header{
    position: absolute;
    top: 10vh;
    height: 75vh;
    width: 90%;
    background-image: linear-gradient(to right bottom, rgba(217, 255, 1, 0.856), rgba(0, 89, 255, 0.808)), url(./Images/header-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    margin:2% 5%;
    clip-path: polygon(0 0,100% 0,100% 55vh, 0 100%);
}

.logo-box{
   
}

.logo-box img{
    width: 10vw;
    height: 10vh;
    margin: 2%;
}
.heading-primary{
    position: absolute;
    top:40%;
    left:50%;
    color: white;
    text-transform: uppercase;
    transform: translate(-50%, -50%);
}

.heading-primary-main{
    display: block;
    font-size: 60px;
    font-weight: 600;
    letter-spacing: 35px;
}

.heading-primary-sub{
    display: block;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 10px;
}





@media only screen and (max-width: 700px) {
    .navigation ul li{
        display: none;
    }
    .navigation-mobile{
        position: absolute;
        right: 10px;
        top: 10px;
        width: 8vw;
        height: 8vh;
        background-color: aliceblue;
        border-radius: 50%;
        transition: all .5s;
        display: block;
    }

    .navigation-mobile ~svg{
        transform: translate(50%,50%);
        background-color: aqua;
    }

    #mobile-nav:checked ~.navigation-mobile{
        background-color: rgb(209, 222, 222);
        width: 100vh;
        height: 100vh;
        border-radius: 0%;
    }

    #mobile-nav:checked ~.navigation-mobile ~ul li{
        display: block;
        float: none;
    }

    .heading-primary-main{
        display: block;
        font-size: 30px;
        font-weight: 600;
        letter-spacing: 20px;
    }
    
    .heading-primary-sub{
        display: block;
        font-size: 10px;
        font-weight: 600;
        letter-spacing: 5px;
    }

  }